* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 45px;
}

ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  border-right: 1px solid #bbb;
}

li:first-child {
  line-height: 2.5;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #746d6d;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

form {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: none;
  border-bottom: 2px solid red;
}

input[type="button"],
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Nunito", monospace;
  background-color: #343434;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.card-carousel {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-carousel::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-carousel::-webkit-scrollbar-thumb {
  background: rgb(22, 22, 22);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px -2px hsla(0, 0%, 100%, 0.25);
}
.card-carousel::-webkit-scrollbar-track {
  background: linear-gradient(90deg, rgb(66, 66, 66), rgb(93, 93, 93));
}
.card-item {
  min-height: 350px;
  min-width: 300px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #343434;
  box-shadow: -1rem 0 3rem #000;
  /* border: 1px solid white; */
  position: relative;

  display: flex;
  flex-direction: column;
  transition: 200ms;
  margin: 0;
}

.card-item:focus-within ~ .card-item,
.card-item:hover ~ .card-item {
  transform: translateX(80px);
}

.card-item:hover {
  transform: rotate(2.5deg) translateY(-1rem);
}

.card-item:not(:first-child) {
  margin-left: -80px;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 0.8rem;
  margin: 0 0 1rem;
  color: #746d6d;
}

.card-header h2 {
  font-size: 1.5rem;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: currentColor;
  border: 0;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, rgb(64, 224, 216), rgb(220, 20, 113));
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Card author part */

.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin: 1rem 10px;
}

.author-name {
  grid-area: auto;
  box-sizing: border-box;
  cursor: pointer;
}

.author-name:hover {
  color: peru;
}
.author-name-prefix {
  font-style: italic;
  font-weight: 700;
  color: hsl(0, 0%, 54%);
}
.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: peru;
  stroke-width: 8;
  stroke-linecap: round;
}

.tags {
  margin: 1rem 0 0;
  padding: 0.5rem 0 1rem;
  line-height: 2;
}

.tags a {
  font-style: italic;
  font-weight: 700;
  color: peru;
  text-transform: uppercase;
  border: 3px solid black;
  border-radius: 2rem;
  padding: 0.2rem 0.5rem 0.25rem;
}

.tags a:hover {
  background: linear-gradient(90deg, rgb(224, 213, 64), rgb(220, 20, 160));
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  border-color: white;
}
